

.heading{
    text-align: center;
    color: lightgreen;
}
.form-control{
   margin-left: 420px;
   margin-top: 40px;
   border-radius: 5px;
   height: 30px;
   border-color: black;

}
.btn{
    margin-left: 440px;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    border-color: black; 
    background-color: lightgreen;
}
